@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: #fe6601;
		--bg: #121212;
	}

	* {
		@apply transition-all delay-[50] ease-out;
	}

	body {
		font-smooth: auto;
		overflow-x: hidden;
		scroll-behavior: smooth;
		scrollbar-width: auto;
	}
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border: 0 solid #fff;
	border-radius: 16px;
	background-color: var(--primary);
}
